body {
  background-color: rgb(234, 234, 234);
}

a {
  text-decoration: none;
}

.breadcrumb {
  margin-bottom: 0; /* ini yang bikin space bawah */
  padding: 0.5rem 0rem;
}

.cursor-pointer {
  cursor: pointer;
}
